body {
 line-height: 1.2;
 background: #fbfbfb;
}
#pagebox {
 background: #ffffff;
 margin:50px;
 max-width: 800px;
 margin: 3% auto;
 margin-bottom: 10%;
 padding: 0 1em 0 1em;
}
#quotebox {
 background: #f9f9f9;
 border-left: 10px solid #ccc;
 margin: 1.5em 10px;
 padding: 0.5em 10px;
 quotes: "\201C""\201D""\2018""\2019";
}
#quotebox:before {
 color: #ccc;
 content: open-quote;
 font-size: 4em;
 line-height: 0.1em;
 margin-right: 0.25em;
 vertical-align: -0.4em;
}
#quotebox p {
 display: inline;
}

}
